<div class="container main">

  <h1>App Base</h1>

  <p><i>Teste do Material Angular</i></p>
  <md-toolbar color="primary">
    <span>App base</span>
  </md-toolbar>

  <br>  

  <p><i>Teste do Bootstrap</i></p>
  <div class="row">
    <div class="col">test</div>
    <div class="col">test</div>
    <div class="col">test</div>
  </div>

  <hr>


  <div class="clearfix">
    <p class="float-left">Desenvolvido por Chico Júnior</p>
    <p class="float-right">Valle Soluções de T.I. - 2017</p>
  </div>
  
  
</div>

